
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0px;
    padding: 0px;
    column-gap: 0px;
}
.rubric {
    color:crimson;
    font-family: 'Rubik', sans-serif; 
    font-weight: 900;
    font-style: 'mono one';
    font-size: 16vw; 
    letter-spacing: 2vw;
    z-index: -1;
    width: 100%;
    filter: drop-shadow(-10px 0px 0px rgb(0, 0, 0));
}
.tiger_img {
    filter: drop-shadow(0px 0px 4px  rgba(255, 192, 203, 0.63));
    height: 100vh;
    width: auto;
    content: url(assets/tiger.png);
    object-fit: contain;
    object-position: 0%;
}



